
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

.content-nev{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  justify-content: center;
  font-size: 1cm;
  padding: 20px;
}


.animation-block {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.verification{
  text-decoration: none;
  color: 	 #00ff55;
}

.cer{
  margin-bottom: 15px;
  padding: 20px;
  
}


.cer-in{
  margin-bottom: 10px;
  padding: 2px;
  box-shadow: 5px 7px 10px rgb(218, 216, 216);
}



/* Education section content */


.anim-E  {
 
  position: relative;
  animation: mymove 2s  ;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {top: -200px;}
  to {top: 0px;}


}



/* bottom */

.bottom-hed{
  text-align: center;
  padding-top: 10px;
  background-color: #f2f2f2;
  color: black;
  
}
.bottom{
  min-height: 5cm;
  background-color: #f2f2f2;
  color: black;
}

.bottom-con li{
  list-style-type:none;
  
}

.bottom-con a{
     text-decoration: none;
     color: #000000;
     
}
.bottom-con {
  font-size: 0.7cm;

}




